<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%= link_to 'Camera Resale', root_path %></li>
          <li><%= link_to 'ボディ', bodies_path %></li>
          <li><%= link_to 'レンズ', lenses_path %></li>
          <li><%= link_to '仕入れ', stockings_path %></li>
          <li><%= link_to '売り上げ', sales_path   %></li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>

  </body>
</html>
