<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><%= link_to 'Camera Resale', root_path %></li>
          <%= link_to root_path do %>
            <li class="fi-home">HOME</li>
          <% end %>
          <%= link_to bodies_path do %>
            <li class="fi-camera">ボディ</li>
          <% end %>
          <%= link_to lenses_path do %>
            <li class="fi-lightbulb">レンズ</li>
          <% end %>
          <%= link_to stockings_path do %>
            <li class="fi-results">仕入</li>
          <% end %>
          <%= link_to sales_path do %>
            <li class="fi-yen">売上</li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <%= yield %>
    </div>

  </body>
</html>
